<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AquaPal</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
</head>

<body style="overflow: hidden;">
    <div class="ocean">
        <div class="bubble one"></div>
        <div class="bubble two"></div>
        <div class="bubble three"></div>
        <div class="bubble four"></div>
        <div class="bubble five"></div>
        <div class="bubble six"></div>
        <div class="splash">
            <p class="skip_splash" onclick=endSplash()>Skip Intro</p>
            <div class="mascot_div">
                <img class="hello " id="mascotSplash" src="monkee.svg"></img>
                <img class="hello " id="mascotSplash2" src="otter.svg"></img>
            </div>
            <img class="logo1 " id="logo" src="logo.png"></img>
        </div>
        <div class="main_container" style="display:none">
            <div class="white_container">
                <h1 class="header">What is your name?</h1>
                <form class="mainForm" action="/select" method="post">
                    <input class="nameInput" type="text" placeholder="NAME" name="name"
                        oninvalid="this.setCustomValidity('🤡🤡🤡')" oninput="setCustomValidity('')" maxlength="20"
                        required>
                    <button class="mainBtn" type="submit">Confirm</button>

                </form>

                <div class="pal_cont">
                    <img class="mascot" src="/monkee.svg" />
                    <img class="mascot" src="/otter.svg" />
                </div>
            </div>
        </div>
    </div>
    <script>
        let splash = document.querySelector('.splash');
        let body = document.querySelector('.main_container');
        function endSplash() {
            splash.style.display = "none";
            body.style.display = "flex";
        }
        // setTimeout(() => {
        //     endSplash();
        //     // }, "500");
        // }, "9500");

    </script>
</body>


</html>