@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
    /* background-color: #8FE6F5; */
    background: linear-gradient(0deg, rgba(124, 206, 221, 1) 0%, rgba(143, 230, 245, 1) 60%, rgba(178, 234, 244, 1) 100%);
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
button, select, option, input {
    font-family: 'Varela Round', sans-serif;
}

.white_container {
    background-color: white;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 50%, rgba(213, 248, 255, 1) 100%);
    width: 650px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    padding: 10px 20px 10px;
}

.main_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.bottom_section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    width: inherit;
}

.mascot_div {
    display: flex;
    justify-content: center;
    /* width: inherit; */
}

.mascot_text {
    position: absolute;
    align-self: center;
    margin-left: 420px;
    margin-bottom: 180px;
    font-size: 22px;
    transition: all .8s ease-in-out;
}

.goal_gradient {
    opacity: 0;
    position: absolute;
    border-radius: 20px;
    background: linear-gradient(360deg, rgba(199, 243, 252, 0) 0%, rgba(95, 203, 223, 0.35) 100%);
    height: 80px;
    width: 690px;
    margin-top: -540px;
    transition: opacity 1s ease-in-out;
    pointer-events: none;
}

.progress_section {
    display: flex;
    flex-direction: row;
    width: inherit;
    align-items: flex-start;
}


.top-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: inherit;
    z-index: 100;
}

/* Text */


.goal_header {
    align-self: flex-start;
    margin: 0;
}

.current_goal {
    align-self: flex-end;
    margin: 0px;
    align-items: baseline;
    margin-left: 30px;
}

.name_label {
    margin: 5px;
}

.history_label {
    margin: 5px;
}

.today_goal {
    align-self: flex-start;
}


/* Buttons */
.add {
    width: 50px;
    height: 50px;
    align-self: flex-end;
    margin-right: 3%
}
button.add{
    background: none;
    border: none;
    padding: 0;
}
.add:hover{
    filter: drop-shadow(1px 1px 6px #FAF1A2);
}

.black_overlay {
    position: absolute;
    opacity: .5;
    width:100vw;
    height:100vh;
    background-color: black;
    /* pointer-events: none; */
    z-index: 100;
    display: none;
}

.addPopup{
    background-color: #ffff;
    filter: drop-shadow(1px 1px 6px #dfdfdf);
    position: absolute;
    height: 314px;
    padding: 3%;
    /* display: grid; */
    justify-items: center;
    border-radius: 15px;
    z-index: 100;
    display: none;
}


.add:hover {
    filter: drop-shadow(2px 2px 4px #5FCBDF);
    animation: shake 2s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateY(-9px)
    }

    35% {
        transform: translateY(-9px) rotate(17deg)
    }

    55% {
        transform: translateY(-9px) rotate(-17deg)
    }

    65% {
        transform: translateY(-9px) rotate(17deg)
    }

    75% {
        transform: translateY(-9px) rotate(-17deg)
    }

    100% {
        transform: translateY(-9) rotate(0)
    }
}


.new_goal {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border: #708E8C solid 2px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    /* z-index: 100; */
    color: #708E8C;
    font-weight: 500;
    font-size: 16px;
}

.new_goal:hover {
    box-shadow: 0px 2px 5px rgba(0, 238, 255, 0.3);
}

.mascot {
    width: 225px;
    height: 225px;
    transition: all 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955);
    margin: 30px;
}


.mascot_select {
    width: 200px;
    height: 200px;
    margin: 30px;
    /* margin-top: 60px; */
    transition: all .45s ease-in-out;
}

.mascot_select:hover {
    transition: all .4s ease-in-out;
    transform: scale(1.5);
    filter: drop-shadow(2px 2px 8px #5FCBDF);
}

.mascot_select_button {
    background: none;
    border: none;
    padding: 0;
}


.progress_bar {
    width: 530px;
    height: 20px;
    background-color: #5FCBDF;
    align-self: flex-start;
    border-radius: 20px;
}

.progress_bar::-webkit-progress-bar {
    background-color: #C7F3FC;
    border-radius: 20px;
}

.progress_bar::-webkit-progress-value {
    background-color: #5FCBDF;
    border-radius: 20px;
    transition: all 1.2s cubic-bezier(0.455, 0.030, 0.515, 0.955);
}


.username {
    width: fit-content;
    background-color: #C7F3FC;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}


.history {
    width: 300px;
    background-color: #C7F3FC;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    appearance: none;
}

.history:active{
    border: none;
}
.history:hover {
    filter: drop-shadow(2px 2px 4px #5FCBDF);
}

.history option {
    background-color: #5FCBDF;
    border-radius: 20px;
}

.goal_input {
    background-color: #E8E8E8;
    border-radius: 20px;
    height: 40px;
    width: 150px;
}

.new_user {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pal_cont {
    /* padding: 5%; */
}

.mainBtn {
    width: 150px;
    height: 50px;
    background: #708E8C;
    border-radius: 15px;
    border: 0;
    font-weight: 700;
    font-size: 24px;
    color: #ffff;
    margin-top: 5%;
    transition: all .15s ease-in-out;
}

.mainBtn:hover{
    background: #2C6A66;
}

.custBtn{
    width: 150px;
    height: 50px;
    background: #708E8C;
    border-radius: 15px;
    border: 0;
    font-weight: 700;
    font-size: 24px;
    font-family: 'Varela Round', sans-serif;
    color: #ffff;
    margin-left: 2%;
    
}

.custBtn:hover{
    background: #2C6A66;
}
.addBtn{
    width: 100px;
    height: 65px;
    background: #E8F1F4;
    border-radius: 15px;
    border-color: #708E8C;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 10%;
}

.addBtn:hover{
    background: #BFD1D9;
}

.mainBtn:hover {
    background: #2C6A66;
    transition: all .15s ease-in-out;
    /* transform: scale(1.1); */
}

.mainForm {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.subForm{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.nameInput {
    width: 300px;
    background: #F1F1F1;
    border-radius: 15px;
    border: 0;
    padding: 5%;
    font-size: 16px;
    text-align: center;
}

.close{
    display: flex;
    justify-content: flex-end;
    font-size: 36px;
    width: 100%;
    height:100%;
    cursor: pointer;
    margin: -15px;
}



/* Splash Screen Animation */
.ocean {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(0deg, #183f53, #5FCBDF)
}

.bubble {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    background-color: white;
    bottom: -70px;
    opacity: 0.2;
    animation: bubble 15s ease-in-out infinite,
        sideWays 5s ease-in-out infinite alternate;
}

@keyframes bubble {
    0% {
        transform: translateY(0%);
        opacity: 0.06;
    }

    100% {
        transform: translateY(-120vh);
    }
}

@keyframes sideWays {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 300px;
    }
}

@keyframes sideWaysRight {
    0% {
        margin-right: 0px;
    }

    100% {
        margin-right: 300px;
    }
}

.one {
    width: 50px;
    height: 50px;
    animation-delay: 3s;
    animation-duration: 8s;
    opacity: 0.2;
}

.two {
    width: 60px;
    height: 60px;
    bottom: -60px;
    left: 40%;
    animation-delay: 1s;
    animation-duration: 9s;
    opacity: 0.5;
}

.three {
    width: 40px;
    height: 40px;
    left: 70%;
    animation-delay: 1s;
    animation-duration: 8s;
    opacity: 0.5;
}


.four {
    width: 60px;
    height: 60px;
    left: 30%;
    animation-delay: 4s;
    animation-duration: 6s;
    opacity: 0.5;
}

.five {
    width: 30px;
    height: 30px;
    left: 60%;
    animation-delay: 4s;
    animation-duration: 7s;
    opacity: 0.8;
}

.six {
    width: 70px;
    height: 70px;
    left: 20%;
    animation-delay: 2s;
    animation-duration: 9s;
    opacity: 0.8;
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-120vh);
    }
}

@keyframes logoMove {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50vh);
    }
}


.hello {
    position: absolute;
    bottom: -40px;
    animation: mover 15s normal forwards ease-in-out
}

.logo1 {
    position: absolute;
    bottom: -40px;
    animation: logoMove 10s normal forwards ease-in-out
}

#mascotSplash {
    width: 250px;
    height: 250px;
    animation-duration: 12s;
    left: 600px;
}

#mascotSplash2 {
    width: 250px;
    height: 250px;
    animation-duration: 12s;
    left: 450px;
}



#logo {
    width: 400px;
    animation-delay: 1s;
    animation-duration: 7s;
    left: 450px;
}

.skip_splash{
    width:95%;
    font-size: 18px;
    display: inline-flex;
    flex-direction: row-reverse;
    /* justify-content: end; */
    margin-right: 500px;
    color: white;
}